body, input[type = button], textarea {
	font-family: consolas, 微軟正黑體;
	background: #333333;
	color: #AAAAAA;
}

input[type = button] {
	border: solid 1px;
}

textarea {
	width: 100%;
	height: 80%;
}

.status {
	border: solid 2px;
	border-color: #222222;
	background: #111111;
	color: #EEEEEE;
	width: 100%;
	margin: 0;
}